body {
	width: 1500px;
}
.first_section {
	height: 650px;
	background-color: #f4f4f4;
	border-bottom: 1px solid gray;
}

.header_height {
	height: 100px;
}

.icon {
	position: absolute;
	top: 38px;
	padding-left: 5px;
	z-index: 1;
	color: #4f5b66;
}

.mock {
	height: 200px;
	width: 400px;
	background: url(/images/mock.jpg) 100% 100% no-repeat;
	background-size: cover;
}

.smartphone {
	height: 400px;
	width: 300px;
	background: url(/images/smartphone.png) 100% 100% no-repeat;
	background-size: contain;
}

.second_section {
	height: 350px;
	background-color: #f4f4f4;
	border-bottom: 1px solid gray;
}

.developing_section {
	height: 550px;
	background-color: #f4f4f4;
	border-bottom: 1px solid gray;
}

.personal_section {
	height: 330px;
	background-color: #f4f4f4;
	border-bottom: 1px solid gray;
}
